<template>
  <form @submit="onSubmit">
    <input type="text" v-model="title" />
    <input type="submit" value="Add" class="add-btn" />
  </form>
</template>

<script>
import { ref } from 'vue'
export default {
  name: 'AddTodo',
  setup(props, context) {
    const title = ref('')

    const onSubmit = event => {
      event.preventDefault()//not reload web
      const newItem = {
        title: title.value,
        isConfirm: false
      }
      context.emit('addNewItem', newItem)
      title.value = ''
    }

    return {
      title,
      onSubmit
    }
  }
}
</script>

<style>
form {
  display: flex;
}

input[type='text'] {
  flex: 10;
  padding: 5px;
}

input[type='submit'] {
  flex: 2;
}
</style>
