<template>
  <div>
    <AddTodo @addNewItem="handleAddNewItem" />
    <TodoItem
      v-for="todo in todosLists"
      v-bind:key="todo.id"
      v-bind:todoProps="todo"
      @markItemChecked="hanleMarkItemCompleted"
      @itemChooseDelete="handleDeleteItem"
    />
  </div>
</template>

<script>
// import { ref } from 'vue'
import TodoItem from './TodoItem'
import AddTodo from './AddTodo'
import { ref } from 'vue'
export default {
  name: 'ToDo',
  components: { TodoItem, AddTodo },
  setup() {
    let todosLists = ref([
      {
        id: 1,
        title: 'Viec can lam so 1',
        isCompleted: false
      },
      {
        id: 2,
        title: 'Viec can lam so 2',
        isCompleted: false
      },
      {
        id: 3,
        title: 'Viec can lam so 3',
        isCompleted: false
      }
    ])

    const hanleMarkItemCompleted = (id) => {
      todosLists.value = todosLists.value.map(item => {
        if (item.id === id) {
          item.isCompleted = !item.isCompleted
        }
        return item
      })
    }

    const handleDeleteItem = id => {
      todosLists.value = todosLists.value.filter(item => item.id !== id)
    }

    const handleAddNewItem = data => {
      data.id = todosLists.value.length + 1
      todosLists.value.push(data)
      return todosLists.value
    }

    return {
      todosLists, //viết tắt của todosLists: todoLists
      hanleMarkItemCompleted,
      handleDeleteItem,
      handleAddNewItem
    }
  }
}
</script>

<style></style>
