<template>
  <p :class="['todo-item', todoProps.isCompleted ? 'is-completed' : null]">
    <input
      type="checkbox"
      :checked="todoProps.isCompleted"
      @change="markItemCompleted"
    />
    {{ todoProps.title }}
    <button class="deleteBtn" @click="handleDeleteItem">Delete</button>
  </p>
</template>

<script>
export default {
  name: 'TodoItem',
  props: ['todoProps'],
  setup(props, context) {
    const markItemCompleted = () => {
      context.emit('markItemChecked', props.todoProps.id) // gửi 1 tín hiệu là "markItemChecked" và kèm theo id lên cho compoent cha để check item
    }
    const handleDeleteItem = () => {
      context.emit('itemChooseDelete', props.todoProps.id)// gửi 1 tín hiệu là "itemChooseDelete" và kèm theo id lên cho compoent cha để delete
    }
    return {
      markItemCompleted,
      handleDeleteItem
    }
  }
}
</script>

<style>
.todo-item {
  background-color: #f4f4f4;
  padding: 10px;
  margin: 0;
  border-bottom: 1px #ccc solid;
}
.deleteBtn {
  background-color: red;
  color: #ffffff;
  float: right;
  cursor: pointer;
}
.is-completed {
  text-decoration: line-through;
}
</style>
