<template>
  <div>
    <Header />
    <ToDo />
  </div>
</template>

<script>
import Header from './components/Header'
import ToDo from './components/Todo'
export default {
  name: 'App',
  components: { Header, ToDo }
}
</script>

<style>
#app {
  font-family: Avenir, Arial, Helvetica, sans-serif;
}
</style>
